STARBIN="/opt/programs/bin/STAR"
SNAPBIN="/opt/programs/bin/snap"
SAILFISHBIN="/opt/programs/bin/sailfish"
SAILFISHLIB="/opt/programs/sailfish/lib"
TMPDIR="/mnt/datab/tmp"
REFBASE="/mnt/datab/refs"
THREADS=30
